html {
    font-size: 13px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.3rem;
    border-bottom: 2px solid rgba(0, 160, 160, 0.8);
    padding-bottom: 5px;
    margin: 0;
    text-transform: uppercase;
}
h3 {
    font-size: 1.1rem;
    margin: 8px 0;
    text-transform: uppercase;
}
h4 {
    font-size: 1.1rem;
    margin: 10px 0 10px 0;
}

a {
    color: rgb(0, 124, 87);
    text-decoration: none;
    margin-top: 0;
}
a:hover {
    color: rgb(138, 153, 170) !important;
}
a:active {
    color: rgb(0, 124, 87);
}
a:visited {
    color: rgb(0, 124, 87);
}

ul {
    padding-bottom: 0;
    margin: 5px 0;
}
ul li {
    margin-left: -15px;
    padding-bottom: 5px;
}

/* PAGE CONTAINER */

.page {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
}
.page-container {
    border: 1px solid whitesmoke;
    border-top: none;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: aquamarine;
    color: rgb(0, 124, 87);
    padding: 30px;
    margin: 0;
}
.header h1 {
    border: none;
    color:  rgba(0, 104, 104, 0.9);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.job-title {
    color: rgb(0, 124, 87);
    font-size: 1.1rem;
    margin: 2px 0;
    padding-bottom: 6px;
}
.head-links {
    border-top: 1px solid rgba(107, 115, 138, 0.5);
    padding-top: 3px;
}
.contact {
    padding: 0;
    margin: 0;
}
.contact span {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.profile {
    padding: 0;
    margin: 0;
}
.profile span {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.dot {
    margin: 0 10px;
}

.page-number {
    position:sticky;
    
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.experience {
    margin: 0;
}
.experience h4 {
    display: inline-block;
    margin: 0;
}
.period {
    border-bottom: 1px solid rgba(107, 115, 138, 0.5);
    border-right: 1px solid rgba(107, 115, 138, 0.5);
    border-radius: 4px;
    float: right;
    font-size: 0.8rem;
    padding: 1px 7px;
}
.div-content {
    padding: 7px 0;
}
.description {
    font-size: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 100%;
}
.project-head {
    padding: 5px 0 2px 0;
}
.project-skill {
    color: gray;
    font-style: italic;
    padding-top: -5px;
    margin-top: 7px;
    margin-bottom: 8px;
}

@media (max-width: 450px) {
    .page {
        grid-template-columns: 100%;
    }
    .page-container {
        padding: 20px;
    }
    .header {
        padding: 20px;
    }

    .profile span {
        display: block;
    }
    .profile .dot {
        display: none;
    }

    .page-break {
        display: none;
    }
}

/* Page break for printing */

@media print {
    body {
        margin: 0;                          /* Reset margin for body when printing */
    }
    .page-break {
        /* page-break-before: always; */    /* Ensure new page starts here */
        page-break-after: always;           /* Ensures separation between sections */
        margin: 0;                          /* Remove margin around page break */
    }
    .page-container {
        border-top: 1px solid whitesmoke;
    }
}
